.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
data/gun0000.png
data/gun0001.png
data/gun0002.png
data/gun0003.png
data/gun0004.png
